
a {
    font-family: sans-serif;
}

.gallery {
    margin-top: 10px;
}

img {
    height: 200px;
    width: 360px;
  }
  
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
    list-style: none;
}

img:hover {
    transform: scale(1.04);
    transition: all 0.2s linear
}

.sl-wrapper{
    background: #00000080;
}

